<!DOCTYPE html>
<html ng-app="test">
<head>
    <title>Draw Line</title>
    <!--link href="favicon.ico" rel="icon" type="image/x-icon" /-->


    <link href="/schaumannj/draw-line/master/example-2/css/tmp_move_to_sass.css" rel="stylesheet">

    <!--Angular-->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <!--Lodash-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.6/lodash.min.js"></script>
    <!--Highchart-->
    <script src="https://code.highcharts.com/highcharts.js"></script>

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- inject:js -->
    <script src="/schaumannj/draw-line/master/example-2/a.js"></script>
    <script src="/schaumannj/draw-line/master/example-2/x-controller.js"></script>
    <!-- endinject -->




</head>
<body>

    <!-- ----------------------- main content ---------------------------------------------------- -->
    <div class="content" ng-controller="ACtrl">
        <h2>Configuration ...</h2>


       <form class="form-inline" ng-repeat=" line in lines">
           <div class="form-group">
               <label>Temperature</label>
               <input type="number" ng-model="line.temperature" class="form-control" placeholder="temperature as number"/> °C
           </div>
           <div class="form-group">
               <label>Time interval</label>
               <input type="number" ng-model="line.time" class="form-control" placeholder="time in seconds"/>
           </div>
           ( start <span>{{line.start}} sec.</span>
           stop <span>{{line.stop}} sec.</span>)
           <button class="btn btn-primary" ng-click="add()" ng-show="$last" >Add next</button>
       </form>
    </div>
    <br/>
    <div id="container">Placeholder for chart</div>
    <br/>
    <div>
        <canvas id="myCanvas" width="600" height="300" class="draw-line-canvas">
            Your browser does not support the HTML5 canvas tag.
        </canvas>
    </div>

    <script src="http://localhost:35729/livereload.js"></script>
    





</body>
</html>
