<!DOCTYPE html>
<html ng-app="fw">
<head>
    <title>Draw Line</title>
    <!--link href="favicon.ico" rel="icon" type="image/x-icon" /-->


    <link href="frontend/css/tmp_move_to_sass.css" rel="stylesheet">

    <!--Angular-->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <!--Lodash-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.6/lodash.min.js"></script>

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- inject:js -->
    <script src="./frontend/a.js"></script>
    <script src="./frontend/x-controller.js"></script>
    <!-- endinject -->




</head>
<body>

    <!-- ----------------------- main content ---------------------------------------------------- -->
    <div class="content" ng-controller="ACtrl">


        <form class="form-inline">
            <div class="form-group">
                <label for="exampleInputName2">Name</label>
                <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
            </div>
            <button type="submit" class="btn btn-default">Send invitation</button>
        </form>
        <form class="form-inline">
            <div class="form-group">
                <label for="exampleInputName2">Name</label>
                <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
            </div>
            <button type="submit" class="btn btn-default">Send invitation</button>
        </form>
       {{a}}
       <div ng-repeat=" line in lines">
          Temperature <input type="number" ng-model="line.temperature"/> °C
          Time interval   <input type="number" ng-model="line.time"/> seconds
          start <span>{{line.start}}</span>
          stop <span>{{line.stop}}</span>
          <button ng-click="add()" ng-show="$last" >Add next</button>
       </div>
    </div>
    <br/>
    <div>
    <canvas id="myCanvas" width="600" height="300" style="border:1px solid #d3d3d3;">
        Your browser does not support the HTML5 canvas tag.
    </canvas>
    </div>

    <script src="http://localhost:35729/livereload.js"></script>
    





</body>
</html>
